<div class="cassidy-container">
  <div class="cassidy-content">
    <ul>
      {{#each services}}
        <li>
          <a href="#">
            {{service}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="cassidy-footer">
    <small>
      <a href="#">options</a>
    </small>
  </div>
</div>
